@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap");

header {
    display: flex;
    background-color: #F0EFE9;
    padding: 15px;
    color: #191919;
  }
  header .container {
    gap: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .container .menu-bar {
    border: none;
    font-size: 1.5rem;
    background-color: transparent;
  }
  @media (min-width: 992px) {
    header .container .menu-bar {
      display: none;
    }
  }
  header .container .menu {
    flex: 1;
    display: none;
    padding-left: 70px;
  }
  @media (min-width: 992px) {
    header .container .menu {
      display: block;
    }
  }
  header .container .menu .top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #DAD9D3;
    padding-bottom: 10px;
  }
  header .container .menu .top-menu .cont-info {
    display: flex;
  }
  header .container .menu .top-menu .cont-info .content-box {
    padding-right: 30px;
    margin-right: 30px;
    border-right: 1px solid #DAD9D3;
    font-family: "Inter", sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    color: #434242;
  }
  header .container .menu .top-menu .cont-info i {
    margin-right: 5px;
    font-size: 1.1em;
  }
  header .container .menu .top-menu .cont-info .last {
    border-right: none;
  }
  header .container .menu .top-menu .social i {
    margin-left: 10px;
  }
  header .container .menu .top-menu .social a {
    color: #191919;
    font-size: 1.4rem;
  }
  header .container .menu .top-menu .social a:hover {
    color: rgb(102, 100, 100);
  }
  header .container .menu .bottom-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .container .menu .bottom-menu nav a {
    color: #191919;
    text-decoration: none;
    margin-right: 30px;
  }
  header .container .menu .bottom-menu nav a:hover {
    color: rgb(102, 100, 100);
    text-decoration: underline;
  }