.Btn-yellow {
    border-radius: 25px;
    border: 1px solid #F9D783;
    color: #191919;
    padding: 12px 22px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    background-color: #F9D783;
    transition: background-color 0.3s ease-in-out;
  }
  .Btn-yellow:hover {
    background-color: rgb(7, 7, 7);
    color: #F0EFE9;
  }
  .Btn-yellow i {
    margin-left: 8px;
    font-size: 0.9em;
  }
  
  .Btn-trans {
    border-radius: 25px;
    border: 1px solid black;
    color: #191919;
    padding: 12px 22px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }
  .Btn-trans:hover {
    background-color: rgb(7, 7, 7);
    color: #F0EFE9;
  }
  .Btn-trans i {
    margin-left: 8px;
    font-size: 0.9em;
  }
  
  .Btn-black {
    border-radius: 25px;
    border: 1px solid black;
    color: white;
    padding: 12px 22px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    background-color: black;
    transition: background-color 0.3s ease-in-out;
  }
  .Btn-black:hover {
    background-color: white;
    color: black;
  }
  .Btn-black i {
    margin-left: 8px;
    font-size: 0.9em;
  }