.Feature-sec .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .Feature-sec .container.Features {
    border: 1px solid #bdbbbb;
    padding-bottom: 80px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .Feature-sec .container.Features .section-title a {
    text-decoration: none;
    color: #191919;
  }
  .Feature-sec .container.Features .section-title a:hover {
    color: #F0EFE9;
  }
  .Feature-sec .container.Features .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 120px;
    -moz-column-gap: 40px;
         column-gap: 40px;
    row-gap: 40px;
  }
  .Feature-sec .container.Features .grid-container a {
    text-decoration: none;
    color: #191919;
  }
  .Feature-sec .container.Features .grid-container a:hover {
    color: #F0D082;
  }
  .Feature-sec .container.Features .grid-container .grid-item i {
    font-size: 1.8rem;
    padding-bottom: 15px;
    color: #191919;
  }
  .Feature-sec .container.Features .grid-container .grid-item h3 {
    font-family: "DM Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .Feature-sec .container.Features .grid-container .grid-item p {
    color: #191919;
  }
  