.container .link-text{
    display:flex;
    justify-content: center;
}
.container h1{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.container .contact-box{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    margin-bottom: 50px;
}
.container .contact-box .box{
    border: 1px solid #acacac;
    margin: 10px;
    padding: 20px 50px;
}