*{
    box-sizing: border-box;
}
.top-content{
    background-color: #F0EFE9;
    padding: 15px;
    color: #191919; 
    position: relative;
    z-index: 0;
}
.top-content .background-lines {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
.top-content .link-text{
    display:flex;
    justify-content: center;
}
.top-content h1{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.container .contact-box{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    margin: 50px 0;
}
.container .contact-box .box{
    display:inline-block;
    text-align: center;
    border: 1px solid #cfcfcf;
    margin: 20px;
    padding: 30px 0 30px 0;
    
}