*{
    box-sizing: border-box;
}

main .picture{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60dvh;
}
@media (min-widht: 992px){
    main .picture{
        width: 50%;
        height: auto;
        
        
    }

}