.News {
  background-color: #F0EFE9;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
.News .background-lines {
  position: absolute;
  right: 0;
  bottom: 80px;
}
.News .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.News .container h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 2.8rem;
}
.News .container input {
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 10px;
  border-color: white;
}