*{
    box-sizing: border-box;
}
.form-input{
    background-color: #F0EFE9;
    border: 1px solid black;
    padding: 40px;
    display: block;
  }

.form-input h2 {
    margin-bottom: 40px;
    text-align: center;
  }
  
.form-input .forms input{
    width: 100%; 
    padding: 10px;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 4px;
    
  }
.form-input .forms .error{
    color: red;
    
  }

.form-input #message {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    text-align: start;
    /* background-color: #f8f8f8; */
    font-size: 16px;
    resize: none;
  }
.form-input .forms #submit-btn {
    width: 100%;
    border-radius: 25px;
    border: 1px solid #F9D783;
    color: #191919;
    padding: 12px 22px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    background-color: #F9D783;
    transition: background-color 0.3s ease-in-out;
  
  }